NEXT_PUBLIC_SUPABASE_URL=https://mkjojtesjhtzakizlifv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ram9qdGVzamh0emFraXpsaWZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MzAzMzEsImV4cCI6MjA5NTIwNjMzMX0.qNSg2L8JF3jUDlfuUT9_Ro-ifFqeTJ3f_jzraCTrFHM
